.container {
  outline: 2px solid black;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @extend %rubik-400;
  font-size: 20px;
  line-height: 1.5;
  color: $defoult-text;
  background-color: $light-silver;
}

a {
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 13px;
  @extend %rubik-600;
  font-size: 14px;
  line-height: 1.2;
  color: $white-color;
  background-color: $orange-active;
  border-radius: 6px;
  transition: all 0.3s;
}