.category {
    padding: 120px 0 0;
    text-align: center;

    &__title {
      margin-bottom: 60px;
    }
    
    &__menu {
      display: flex;
      margin-bottom: 45px;
      overflow: auto;
    }

    &__menu-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      background-color: $white;
      font-size: 20px;
      color: $dark-blue;
      fill: $dark-blue;
      box-shadow: 0px 0px 0px 1px $dark-siver;
      border-radius: 5px;
      
      &:hover {
        color: $orange-crayola;
        fill: $orange-crayola;
        background: rgba($orange-crayola, 0.1);
        box-shadow: 0px 0px 0px 1px $orange-crayola;
      }

      &:focus {
        background: $white;
        color: $dark-blue;
      }

      &:active {
        fill: $dark-blue;
        box-shadow: inset 0px -5px 12px rgba($orange-crayola, 0.2);
      }

    }

    &__button-icon {
      margin-right: 10px;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 30px;
      margin-bottom: 60px;

    }
    
}


@media (max-width: 1200px) {
  .category{
    &__items {
      grid-column-gap: 20px;
    }

    &__button {
      padding-left: 28px;
      padding-right: 28px;
      font-size: 16px;
    }

    &__button-icon {
      width: 34px;
      height: 34px;
    }
  }
}

@media (max-width: 992px) {
  .category {

    &__menu-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__button {
      padding-left: 24px;
      padding-right: 24px;
    }

    &__button-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }

    &__items {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 20px;
    }
  }
}
@media (max-width: 768px) {
  .category {

    &__items {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 15px;
    }
  }
}

@media (max-width: 576px) {
  .category {
    
    &__button {
      font-size: 14px;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 5px;
      grid-row-gap: 10px;
    }

  }
}

