.product {
  padding: 60px 0;
  border-bottom: 1px solid $gray;

  &__choice {
    display: flex;
  }

  &__tab {
    padding: 30px 0 60px 0;
  }

  &__box {
    max-width: 690px;
    margin: 0 auto;
  }

  &__lists-top {
    display: flex;
    // justify-content: center;
    margin-bottom: 30px;
  }

}


.choice {

  &__content {
    outline: 1px solid salmon;

    width: 531px;
  }

  &__slider {
    outline: 1px solid salmon;


    width: 610px;
    margin-right: 30px;
    // height: 550px;
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }

  &__starts{
    margin-bottom: 25px;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 35px;
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
  }
}



.product-form {
}
.product-form__input {
}
.button {
}
.product-form__button {
}
.product-form__link-icon {
}
.choice__order {
}
.choice__item {
}
.link {
}
.hero__link {
}
.product__review {
}


.tabs-category {

  &__item {

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__link {
    font-size: 24px;
    line-height: 1.5;
    color: $dark-blue;
  }

  &__link--active {
    color: $orange-crayola;
    
  }
}

.tabs-content {
  
  &__item {
    display: none;

    &.tabs-content__item--active {
      display: block;
    }
  }
}

.respond {
  outline: 1px solid grey;

  &__title {
    font-size: 24px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 30px;
  }


  &__box {
    display: flex;
  }

  &__img {
    border-radius: 50%;
    margin-right: 25px;
  }

  &__subbox {
    width: 100%;
    outline: 1px solid grey;
  }

  &__reiting {
  
  }

}