.slider-inner {
  position: relative;
  fill: $gray;
  stroke: $gray;

  .slick-arrow {
    position: absolute;
    display: inline-flex;
    // bottom: -3%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    z-index: 1;

    &:hover{
      fill: rgba($orange-crayola,  0.7);
      stroke: rgba($orange-crayola,  0.7);
      background-color: rgba($orange-crayola, 0.1);
    }

    &:active{
      fill: rgba($orange-crayola,  0.7);
      background-color: rgba($orange-crayola, 0.1);
      stroke: transparent;
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba($orange-crayola, 0.7);
    } 
  }

  .slick-prev {
      left: 40%;
    }

  .slick-next {
      right: 40%;
    }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      &:not(:last-child) {
          margin-right: 15px;
        }
      
      & button {
        padding: 0;
        font-size: 0;
        background-color: $gray;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &:hover {
          box-shadow: 0px 0px 0px 2px rgba($orange-crayola, 0.7);
          background-color: rgba($orange-crayola, 0.1);
        }

        &:focus {
          box-shadow: 0px 0px 0px 2px rgba($orange-crayola, 0.7);
        }

        &:active {
          background-color: rgba($orange-crayola, 0.7);
        }
      }
      
      &.slick-active {
        button {
          background-color: $orange-crayola;
        }
      }
    }
  }
}


@media (max-width: 1200px) {}
@media (max-width: 992px) {

.slider-inner {
  .slick-arrow {
    bottom: -20%;
    }
  }
}

@media (max-width: 768px) {
  .slider-inner {
  .slick-arrow {
    // top: 12%;
    bottom: 75%;
    }

    .slick-prev {
      left: 30%;
    }

    .slick-next {
      right: 30%;
    }
  }
}
@media (max-width: 576px) {

    .slider-inner {

      .slick-arrow {
    bottom: 80%;
    }

    .slick-prev {
      left: 12%;
    }

    .slick-next {
      right: 12%;
    }
  }

}