.hero {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.hero__content {
  max-width: 450px;

  &-title {
    @extend %rubik-600;
    margin-bottom: 18px;
    font-size: 66px;
    line-height: 1.3;
    color: $darck-blue;
  }

  &-accent {
    display: block;
    color: $orange-active;
  }

  & p{
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 1.5;
  }

  &-btn {
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 34px;
  }

  &-link {
    padding: 2px;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
  }
}

.hero__img {
  width: 560px;
}