.catalog {
  padding: 60px 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  &__title {
    
  }

  &__show {
    display: flex;
  }


  &__show-sort {
    margin-right: 15px;
    width: 149px;
  }

  &__show-numbers {
    width: 92px;
  }


  &__inner {
    display: flex;
  }


  &__filters {
    min-width: 270px;
    margin-right: 30px;
  }

}


.jq-selectbox__select {
  padding: 0 35px 0 10px;
  font: 14px/2.2 Rubik,sans-serif;
  background: $white;
  border: 1px solid $gray;
  border-radius: 3px;
  box-shadow: none;
  color: inherit;
  text-shadow: none;

  &:hover {
    background: transparent;
  }

}

.jq-selectbox__trigger {
    border-left: none;
  }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 10px;
  height: 6px;
  border: none;
  background-image: url(../../../images/icons/selekt_row.svg);
}

.filter-category {

  &__label {
    display: flex;
    cursor: pointer;
    transition: all 0.3s;
    
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      color: $orange-crayola;    
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($dark-blue, 0.5);
    }
    
  }
  
  &__input {
    @extend %checkbox-hidden;
    
    &:checked + .filter-category__checkbox {
      color: $orange-crayola;
    }

    &:focus + .filter-category__checkbox {
      box-shadow: 0px 0px 0px 2px rgba($orange-crayola, 0.5);
      border-radius: 5px;
    }
  }

}

.filter-offer {

  &__form {
    position: relative;
  }

  &__label {
    padding-left: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    
    &:not(:last-child) {
      margin-bottom: 12px;
      }

    &:hover {
      color: $orange-crayola; 
      .filter-offer__checkbox {
        border: 1px solid $orange-crayola;
        transition: all 0.3s;
      }
    }  
      
    }

  &__input {
    @extend %checkbox-hidden;
    
    &:checked + .filter-offer__checkbox {
      border: 1px solid $fir-green;
      border-radius: 3px;
      background-image: url(../../../images/icons/check.svg);
      background-repeat: no-repeat;
      background-position: center; 
      }


    &:focus + .filter-offer__checkbox {
      border: 1px solid $orange-crayola;
    }
  }

  &__checkbox {
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: rgba($orange-crayola, 0.2);
    border: 1px solid $dark-siver;
    border-radius: 3px;
    left: 0%;
  }

}

.filter-price {

  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    font-size: 16px;
    line-height: 1.2;
    color: $gray;
  }

  &__prev {
    display: inline-flex;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgba($orange-crayola, 0.2);
    font-size: 16px;
    line-height: 1;
    color: $fir-green;
  }
}

.catalog-content {

  &__lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 60px;
  }

  &__item {
    
  }

}

@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}





