.cart {
  // min-width: 210px;
  max-width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  font-size: 15px;
  text-align: center;
  background-color: $white;
  box-shadow: 0px 0px 0px 1px $dark-siver;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 0px 0px 1px $orange-crayola;
  }

  &__img {
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 1.2;
  }

  &__price {
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 600;
  }
}
